.logo a {

	width: 331px;

	height: 50px;

	display: block;

	position: relative;	

} 

.blue-logo, .white-logo {

	-webkit-transition: all 0.3s ease-in-out;

	   -moz-transition: all 0.3s ease-in-out;

	    -ms-transition: all 0.3s ease-in-out;

	     -o-transition: all 0.3s ease-in-out;

	        transition: all 0.3s ease-in-out;

	position: absolute;

	top: 0;

	left: 0;

} 



.fp-viewing-welcome .logo .white-logo,

.fp-viewing-about-us .logo .white-logo,

.fp-viewing-news .logo .white-logo,

.fp-viewing-footer .logo .white-logo {

	opacity: 0;

	visibility: hidden;

}



.fp-viewing-welcome .logo .blue-logo,

.fp-viewing-about-us .logo .blue-logo,

.fp-viewing-news .logo .blue-logo,

.fp-viewing-footer .logo .blue-logo {

	opacity: 1;

	visibility: visible;

} 

.blue-logo1{ opacity:1;visibility: visible;}

.blue-logo2{ opacity:0;visibility: hidden;}

.blue-logo3{ opacity:1;visibility: visible;}

.blue-logo4{ opacity:0;visibility: hidden;}



.fp-viewing-welcome nav ul li a,

.fp-viewing-about-us nav ul li a,

.fp-viewing-news nav ul li a,

.fp-viewing-footer nav ul li a {

	color: #737373;

} 



.bg-cover {

	-webkit-background-size: cover;

	     -o-background-size: cover;

	        background-size: cover;

	background-position: center;    

} 



/* Banner Canvas */

#progresscanvas, #dottedcanvas, #dotimagecanvas, #myCanvas {

  max-height: 100%;

  max-width: 100%;

  position: absolute;

  left: 50%;

  top: 50%;

} 

@media only screen and (min-width: 768px) and (max-width: 4500px) {
#progresscanvas, #dottedcanvas, #dotimagecanvas, #myCanvas {

  transform: translateX(-50%) translateY(-50%) scale(0.88);

} 
}

#dottedcanvas {

	opacity: 0.5;

	z-index:1;

} 



#progresscanvas {

  z-index: 1;

} 



#dotimagecanvas {

	z-index: 3;

} 



#banner-slider figure {

	background-color: #2662aa;

} 