.footer_row > div {

	float: left;

}

.footer_col {

    width: 17%;

}

.footer_col_two {

    width: 32%;

}

 .footer_row .footer_col:nth-child(4), .footer_row .footer_col:nth-child(3) {

	float: left;

}

.china-block .vertical_slider {

	margin: auto;

	max-width: 180px;

}

.china-block .vertical_slider .slick-slide {

  	border-top: 1px solid #e6b269;

}

.china-block .vertical_slider .slick-list.draggable {

	border-bottom: 1px solid #e6b269;

}

.china-block .vertical_slider > div a {

  	color: #fff;

  	display: block;

  	font: 18px/46px "pt_sansbold";

}

.china-block h3 {

	/*margin-bottom: 50px;*/

}

.china-block .slick-prev {

	top: -42px;

	background-image: url('../images/prev_arrow.png');

	background-repeat: no-repeat;

	background-position: center center; 

}

.china-block .slick-prev, .china-block  .slick-next {

	transform:inherit;

	left: 0;

	right: 0;

	margin: 0 auto;

}	

.china-block  .slick-next {

	top: auto;

	bottom: -31px;

	background-image: url('../images/prev_arrow.png');

	background-repeat: no-repeat;

	background-position: center center;

	transform: rotate(180deg);

	-webkit-transform: rotate(180deg);

}

.china-block  .slick-next::before, .china-block .slick-prev::before {

	content: '';

	opacity: 1;

	z-index: 1;

}

.brand_slide button.slick-prev.slick-arrow, .slick-prev:hover, .slick-prev:focus, .brand_slide button.slick-next.slick-arrow, .slick-next:hover, .slick-next:focus {

  height: 20px;

}

@media (min-width: 1581px) {

	.china-overseas-wrap::after {

		border-top: 153px solid transparent; 

		border-right: 273px solid #5b99cf; 

		border-bottom: 153px solid transparent;

	}





}

@media (max-width: 1350px) {

	.container {

		width: 1170px;

	}

	#header {

		padding-top: 14px;

	}

	.latest-news, .footer_row, .copy_right_block {

		padding-left: 38px;

		padding-right: 38px;

	}

	.news-date {

		padding-left: 15px;

	}

	.sidebar-nav {

		right: 35px;

}

/*==========================================

	premium Project Detail

=============================================*/

.commercial-tabs-block .beijing li:nth-child(2){

	position:relative;	

}

.commercial-tabs-block .beijing li:nth-child(2)::after{

	    background: #ffffff none repeat scroll 0 0;

    content: "";

    height: 39px;

    right: -15px;

    position: absolute;

    top: 2px;

    width: 1px;	

}

.commercial-tabs-block .beijing li:nth-child(3)::before{

	display:none;	

}

/*.pause_btn{

	top:49%;	

}*/

.basic_property::before{

	left:-18px;	

}

.property_parent .basic_property:nth-child(2n)::before {

  left: -2px;

}

.brand_slide .slick-prev {

  left: 66px;

 /* top: 50%;*/

  z-index: 2;

}

.brand_slide .slick-next {

   /* right: 44px;*/

    /*top: 50%;*/

}

.all .tab_parent {

  /*background-position: -81px 0px !important;

  background-size: auto 100% !important;*/

}

}

/* responsive styles for laptop */

@media (max-width:1199px){

	.container{

		width: 950px;

	}

	.latest-news, .footer_row, .copy_right_block {

	  	padding-left: 20px;

	  	padding-right: 20px;

	}

	.news-content {

		width: 62.9%;

	}

	.news-date p {

		font-size: 14px;

		padding-left: 0;

		text-align: center;

	}

	.news-date p strong {

		font-size: 28px;

	}

	h4 {

		font-size: 19px;

		line-height: 24px;

	}

	.sidebar-nav {

		right: 33px;

	}

	.elite-property::after {

		transform: scale(1.45);

		-webkit-transform: scale(1.45);

	}

	h3 {

		font-size: 37px;

		line-height: 42px;

	}

	#china {

	  	padding-right: 18.5%;

	}

	#overseas {

	  	padding-left: 18.5%;

	}

	.commercial-tabs {

		/*padding-left: 3.2%;*/

	}

	.china-overseas-wrap::after {

		display: none;

	}

.semi_circle {

  border: 1px solid #f5f5f5;

  border-bottom-left-radius:440px;

  border-bottom-right-radius:440px;

  display: inline-block;

  height: 400px;

  position: relative;

  top: -290px;

  width: 800px;

}



/*========================

	GROUP

==========================*/

.structure {

    display: table;

    padding: 0 4%;

    width: 100%;

}

span.str_name{

	/*font-size:19px;*/

}

.str_string:hover span.str_name::after{

	display:none;	

}

.tab-content {

    width: 100%;

}

.tab-content-pc {

    width: 100%;

}	

/*========================================



==========================================*/

.basic_property::before {

	background-size:70px;

}

.basic_property:nth-child(2)::before, .basic_property:nth-child(1)::before, .basic_property:nth-child(3)::before, .basic_property:nth-child(4)::before{

	background-size:60px;

}

.specification h4 {

  font-size:37px;

  line-height:42px;

}

.commercial-tabs-block .beijing {

    left: 89px;

    position: relative;

    top: 90px;

    width: 650px;

}

.commercial-tabs-block .beijing {

    left: 25px;

    top: 90px;

}

.philoso_bg{

	background-position:center center;	

}

.brand_items {

    height: 250px;

    width: 250px;

}

.group_structure.philosophy .str_string {

  margin-bottom: 20px;

  margin-left: 0;

  width: 33.33%;

}

.value_in_shape {

     height: 161px;

    width: 161px;

}

.culture_string .culture:first-child .cp_value {

   /*margin-top: 108px;*/

}

.brand_slide .slick-prev {

    left: 19px;

}

.brand_slide .slick-next {

    right: 57px;

}

.brands {

  display: table;

  height: 200px;

  position: relative;

  transition: all 0.3s ease-in-out 0s;

  width: 200px;

}

.brand_items {

    height: 234px;

    width: 234px;

}

.brands > h4 {

  font-size:25px;

  line-height:30px;

}

.shape_with_logo > span {

  color: #ffffff;

    line-height:25px;

  font-size:20px;

  text-transform: uppercase;

}



.all .tab_parent {

   /* background-position: -202px 0 !important;

    background-size: auto 100% !important;*/

}

.tab_parent {

    height: 294px;

    width: 100%;

}

.tab_content + .tab_content {

  float: right;

  padding-left: 9px;

  padding-top: 0px;

  width: 57%;

}

ul.tabs li {

  /*padding: 10px 32px;*/

}

.awareness {

    float: left;

    width: 71%;

}

.tab_content + .tab_content .tab_dt {

    width: 29%;

}

.tab_dt > p:nth-child(1)::before {

  left:10px;

}

.basic_things h5{font: 20px/28px "pt_sansbold";}

/*.outre_circle{display:none;}*/

}

/* responsive styles for tablet/ipad */

@media (max-width:979px){

	.container{

		/*width: 750px;*/

	}

	.t-symbol {

	  	margin-left: 14px;

	}

	nav ul li + li::before {

		margin: 0 11px 0 8px;

	}

	.elite-property::after {

	  	transform: scale(1.2);

	}

	h2 {

	  	font-size: 60px;

	  	line-height: 70px;

	}

	h2 span {

	  	font-size: 35px;

	  	line-height: 43px;

	}

	.welcome-to-lsh p {

	  	font-size: 17px;

	  	line-height: 24px;

	  	/*margin-bottom: 36px;*/

	}

	.commercial-tab-links li {

		width: 115px;

	}

	.commercial-tabs {

		top: 43.5%;

	}

	h3 {

	  	font-size: 30px;

	  	line-height: 38px;

	}

	#china {

	  	padding-right: 23.5%;

	}

	#overseas {

	  	padding-left: 23.5%;

	}

	.center-block {

		width: 378px;

		height: 378px;

	}

	.china-block h3 {

	  	/*font-size: 39px;*/

	  	/*margin-bottom: 20px;*/

	}

	.china-block ul li a {

		font-size: 16px;

		line-height: 40px;

	}

	.china-block {

		padding-top: 185px;

		/*padding-bottom: 115px;*/

	}

	.latest-news, .footer_row, .copy_right_block {

	  	padding-left: 15px;

	  	padding-right: 15px;

	}

	.news-content {

	  	width: 62.6%;

	  	padding: 0 15px;

	}

	.news-date {

	  	padding-left: 5px;

	}

	.footer_col_two {

	  	padding: 0 15px;

	}

	h4 {

	    font-size: 15px;

	    line-height: 20px;

	}

	.footer_col li a {

		font-size: 14px;

		line-height: 25px;

	}

	.elite-property::after {

	  	transform: scale(1.4);

	  	-webkit-transform: scale(1.4);

	}

	/*.slide-images, .commercial-images {

	  	min-height: 763px !important;

	}*/

	.elite-property {

		height: 528px;

		width: 528px;

	}

	.dots-list li:nth-child(1) {

	  	transform: rotate(-30deg) translate(0px, -264px) rotate(-30deg);

	  	-webkit-transform: rotate(-30deg) translate(0px, -264px) rotate(-30deg);

	}

	.dots-list li:nth-child(2) {

	  	transform: rotate(90deg) translate(0px, -263px) rotate(-90deg);

	  	-webkit-transform: rotate(90deg) translate(0px, -263px) rotate(-90deg);

	}

	.dots-list li:nth-child(3) {

	  	transform: rotate(200deg) translate(0px, -263px) rotate(-200deg);

	  	-webkit-transform: rotate(200deg) translate(0px, -263px) rotate(-200deg);

	}

	.dots-list li.active::after {

		width: 414px;

		height: 251px;

	}

	.logo a {

		width: 100% !important;

	}

.dots-list li.active:after {

display:none; 

}

.semi_circle {

  border: 1px solid #f5f5f5;

  border-bottom-left-radius:360px;

  border-bottom-right-radius:360px;

  display: inline-block;

  height: 340px;

  position: relative;

  top: -220px;

  width:680px;

}

/*===================================

		GROUP

=======================================*/

.bg_slide_part figure, .bg_slide img,.header_patent{

	/* height:450px;*/

}

.bg_content h1{

	font-size:43px;

	/*line-height:47px;*/	

}

.lsh_group_content {

    padding-top: 20px;

}

.lsh_group_content {

  display: table;

  padding: 20px;

  width: 100%;

}

.str_img::after {

  border-radius: 100%;

  /*height: 97px;

  width: 99px;*/

}

.str_img {

  border: 2px solid #e6b269;

  border-radius: 50%;

  display: table;

  /*height: 100px;*/

  margin: 0 auto;

  position: relative;

  transition: all 0.3s ease-in-out 0s;

  /*width: 100px;*/

}

.str_img img {

    margin: 0 auto;

    width: 44px;

}

.premium{

	padding:0;

}

.property h4 {

  margin: 0 auto;

  max-width: 80%;

}

.bg_slide_part figure, .bg_slide img, .header_patent {

    /*height: 550px;*/

}

.pause_btn > img {

    width: 61px;

}

.specification h4 {

  font-size: 28px;

  line-height: 32px;

}

.information {

  height: 1310px;

  /*padding-top: 57px;*/

}

.basic_things{

	padding-bottom:0;	

}

.brands {

  height: 180px;

  width: 180px;

}

.brand_items {

    height: 214px;

    width: 214px;

}

.brand_slide .slick-next {

    right: -28px;

}

.brands {

    height: 150px;

    width: 150px;

}

.brand_items {

    height: 185px;

    width: 185px;

}

.brand_slide .slick-prev {

    left: 5px;

}

.culture + .culture {

    padding-left: 6%;

    padding-right: 7%;

}

.spirit + .spirit {

    float: left;

    padding-right: 8.5%;

}

.spirit + .spirit {

  float: left;

  margin-top: 25px;

  padding-left: 2%;

  padding-right: 7%;

}

.spirit .clipping.service, .spirit .clipping.team{

  margin-right: 14px;

    height: 200px;

  margin-top: 84px;

  width: 200px;

}

.tab_section {

  /*margin-top: 51px;*/

}

.all .tab_parent {

  background-position: -286px 0 !important;

  background-size: auto 100% !important;

}

.group_structure {

    /*height: 846px;*/

}

    

    

/*primeum-v2 start*/

.product_block{width:100%;text-align:center;}

.china-block{padding-top:47px;/*margin:0px auto;*/}

#section5 .clearfix, #section5 .china-block{height:344px;}

.china-block.china-block-one .vertical_slider .slick-list.draggable{height:184px !important;}

.china-block.china-block-one{width:45%;}

.china-block.china-block-one:first-child{margin:0px 20px;}

.china-block .slick-prev{top:-16px;}

/*primeum-v2 end*/

/*primeum-projects-start*/

.types_block.types_block_one{width:100%;}

.types_top_block h4{font-size:15px;}

.types_top_block ul li{font-size:15px;}

.types_top_block ul li a{padding: 5px 15px;}

.commercial-tab1.commerical_two.active h3{font-size:21px;}

.commercial-tab1.commercial-tab2 h3{font-size:21px;}

/*.commercial-tabs-content h3{font-size:20px;line-height:40px;}*/

.high-end.high_end_one a{font-size:18px;}

/*primeum-projects-end*/

/*news-events-start*/

.text_block{width:75%;}

.text_block h2{font-size:32px;}

.image_text_block{width:75%;}

.order{font-size:18px;width:100%;}

.order1{font-size:18px;}

.images_main{width:100%;}

.image_one{margin-right:21px;}

.back{display: inherit;}

.high-end.high_end_one a{font-size:13px;}

/*news-events-end*/

/*contact-page-start*/

.information_left h2{font-size:35px;}

/*contact-page-end*/    

    

    

.phil .hong_property {

    float: left;

    padding-right: 0;

    width: 100%;

}

.phil .hong_property{

	/*padding-bottom:50px;*/	

}  

 .philoso_bg {

    border: medium none;

    height: 276px;

}

.operating_philosophy .operating_content{

	width:100%;	

} 

.philoso_bg {

   display:table;

   width:100%;

} 

.outre_circle{display:none;}

.china-block .slick-prev{top: -30px;}

.china-block h3{/*margin-bottom:45px;*/}

.pop_up{top:108px;}

.slick-slider{z-index:1;}

.basic_things h5{font: 18px/28px "pt_sansbold";}

.basic_property img{width:20%;margin-top:-25px;}

.basic_property_one{/*width:78%;*/}

.commercial-tabs-block .beijing li:nth-child(3){width:100%;padding-left: 0px;padding-top: 30px;}

}

/* responsive styles for mobile */

@media (max-width:767px){

	.container{

		/*width: 538px;*/

	}

	.footer_row > div {

		display: none;

		float: none;

	}

	.footer_row > div.footer_col_two {

		display: block;

		width: 100%;

	}

	.copy_right_block li {

		float: none;

		width: 100%;

		text-align: center;

	}

	.copy_right_block li:last-child {

		display: none;

	}

	.copy_right_block {

		/*padding-top: 50px;*/

	}

	.footer_row .footer_col:nth-child(4), .footer_row .footer_col:nth-child(3) {

		float: none;

	}

	.footer_row {

		padding-top: 36px;

	}

	#colophon::after {

		top: -19px;

	}

	#colophon {

		padding-top: 1px;

	}

	.fp-tableCell .container {

		clear: both;

		overflow: hidden;

	}

	.sidebar-nav {

		display: none;

	}

	.center-block {

		display: none;

	}

	.logo {

		width: auto;

		float: none;

		display: inline-block;

	}

	.navigation {

		display: none;

		float: none;

		/*width: 100%;*/

	}

	.navigation {

		display: none;

		float: none;

		/*width: 100%;*/

		/*background: rgba(0, 66, 128,1);*/

		padding-bottom: 15px;

	}

	/*.slide-images figure,

	.commercial-images figure, #horizontal-slider .hor-slide-item {

		height: 600px;

	}*/ 

	.fp-viewing-welcome .navigation,  .fp-viewing-about-us .navigation, .fp-viewing-news .navigation {

		/*background: rgba(0, 66, 128,1);*/

	}



	span.toggle-btn {

		background: #fff;

		display: block;

		height: 3px;

		left: auto;

		position: absolute;

		right: 0px;

		top: 12px;

		width: 30px;

		cursor: pointer;

	}

	/* toggle css*/

	.toggle-block {

		display: inline-block;

		width: 30px;

		height: 30px;

		position: relative;

		float: right;

		cursor: pointer;

		margin-top: 0px;

	}

	span.toggle-btn {

		transition: background 0s ease 0.3s;

		-webkit-transition: background 0s ease 0.3s;

	}

	span.toggle-btn::after, span.toggle-btn::before {

		background-color: #fff;

		content: "";

		display: block;

		height: 3px;

		left: 0;

		position: absolute;

		width: 100%;

	}

	.fp-viewing-welcome span.toggle-btn, .fp-viewing-about-us span.toggle-btn, .fp-viewing-news span.toggle-btn

	 {

		background: #737373;

	}

	.fp-viewing-welcome span.toggle-btn::after, .fp-viewing-welcome span.toggle-btn::before,

	.fp-viewing-about-us span.toggle-btn::after, .fp-viewing-about-us span.toggle-btn::before,

	.fp-viewing-news span.toggle-btn::after, .fp-viewing-news span.toggle-btn::before

	{

		/*background-color: #737373;*/

	}

	span.toggle-btn::before {

		top: -10px;

	}

	span.toggle-btn::after {

		bottom: -10px;

	}

	span.toggle-btn::after, span.toggle-btn::before {

		transition-delay: 0.3s, 0s;

		-webkit-transition-delay: 0.3s, 0s;

		transition-duration: 0.3s, 0.3s;

		-webkit-transition-duration: 0.3s, 0.3s;

	}

	span.toggle-btn::before {

		transition-property: top, transform;

		-webkit-transition-property: top, transform;

	}

	.active span.toggle-btn {

		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;

	}

	.active span.toggle-btn::after {

		bottom: 0;

		transform: rotate(-45deg);

		-webkit-transform: rotate(-45deg);

	}

	.active span.toggle-btn::after, .active span.toggle-btn::before {

		transition-delay: 0s, 0.3s;

		-webkit-transition-delay: 0s, 0.3s;

	}

	.active span.toggle-btn::before {

		top: 0;

		transform: rotate(45deg);

		-webkit-transform: rotate(45deg);

	}

	.active span.toggle-btn::after, .active span.toggle-btn::before {

		transition-delay: 0s, 0.3s;

		-webkit-transition-delay: 0s, 0.3s;
		
		background: #fff;

	}





	.dots-list li.active::after {

		display: none;

	}

	nav, nav ul li, .t-symbol {

	  display: block;

	  margin: 0;

	  text-align: center;

	}

	.t-symbol a {

		margin: 0 auto;

	}

	nav ul li + li::before {

		display: none;

	}

	nav ul li {

		padding: 5px 0;

	}

	/*nav ul li a:hover, nav ul li.active a {

		border-bottom: 1px solid #e6b269;

	}*/
/*nav ul li:hover ul{ display:none;}*/
nav ul ul{
	width:100%;
	padding:10px 0 0 0;
	position:static;
	margin:0 auto;    
	-moz-transform: skew(0deg, 0deg);
	-ms-transform: skew(0deg, 0deg);
	-o-transform: skew(0deg, 0deg);
	-webkit-transform: skew(0deg, 0deg);
}
nav ul ul li a {
    transform: skew(0deg, 0deg);
    -moz-transform: skew(0, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
}
nav ul li span{position:absolute; z-index:99999; right:3%; top:0; height:30px; display:block; width:30px; text-align:center; cursor:pointer; display:none; background:url(../images/plus_icon.jpg) no-repeat; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#fff; padding:5px 0;}@media only screen and (max-width:767px){nav ul li span{display:block;}}
	.t-symbol {

		padding: 5px 0 0;

	}

	/*#china:after {

		content: "";

		background: url("../images/mobile-world.png") no-repeat center center;

	}*/

	.fp-tableCell .clearfix {

		position: relative;

	}

	/*.fp-tableCell .clearfix:after {

		content: "";

		background: url("../images/mobile-world.png") no-repeat center center;

		position: absolute;

		width: 100%;

		top: 0;

		bottom: 0;

		left: 0;

		right: 0;

		height: 100%;

		margin: auto;

	}*/

	/*#overseas::before {

	  	background: rgba(18, 106, 183, 0.7) none repeat scroll 0 0;

	  	bottom: 0;

	  	content: "";

	  	left: 0;

	  	position: absolute;

	  	right: 0;

	  	top: 0;

	  	z-index: -1;

	}*/

	#china {

	  	padding-right: 7.5%;

	}

	#overseas {

		padding-left: 7.5%;

	}

	.news-content h5 span {

		display: block;

	}

	.news1 > div {

		display: block;

		width: 100%;

		text-align: center;

	}

	.news1 > div.news-date {

		display: none;

	}

	.news-img img {

		display: inline-block;

		margin: 0 auto;

	}

	h5 {

		font-size: 40px;

		line-height: 48px;

		margin: 35px 0 20px;

	}

	/*.news-content p {

		font-size: 28px;

		line-height: 36px;

	}*/

	.latest-news .slick-prev, .latest-news .slick-next {

		background: url("../images/mobile-slide.png") no-repeat center center;

		width: 28px;

		height: 46px;

		top: 70px;

		z-index: 1;

		opacity: 1;

		transform: translate(0px, 0px);

		-webkit-transform: translate(0px, 0px);

	}

	.latest-news .slick-prev {

		left: 0;

	}

	.latest-news .slick-next {

		right: 0;

	}

	.latest-news .slick-prev::before, .latest-news .slick-next::before {

		display: none;

	}

	.latest-news .slick-next {

		transform: rotate(180deg);

		-webkit-transform: rotate(180deg);

	}

	/*.latest-news .slick-dots li, .slick-dots li button {

		width: 25px;

		height: 25px;

	}*/

	.latest-news .slick-dots li button::before {

		opacity: 1;

		/*width: 25px;

		height: 25px;*/

		color: #d0d0d0;

		/*font-size: 35px;*/

		line-height: 23px;

	}

	.latest-news .slick-dots li button {

		border: 1px solid #d0d0d0;

		border-radius: 100%;

	}

	.slick-dots li button {

		padding: 0;

	}

	.latest-news .slick-dots li.slick-active button::before {

		opacity: 1;

		color: #eea033;

	}

	.latest-news .slick-dots li.slick-active button {

		border: 1px solid #eea033;

	}

	.latest-news .slick-dots {

		bottom: 7px;

	}

	.copy_right_block li a {

		font-size: 17px;

		line-height: 21px;

	}

	h3 {

	  font-size: 50px;

	  line-height: 54px;

	}

	.welcome-to-lsh p {

		/*font-size: 28px;

    	line-height: 36px;*/

	}

	.logo a {

		width: 260px !important;

	}





/*---------------------------------------------------------------*/

.plaza-img span img {

    margin: 20px auto 0;

}

.elite-text h2 {

    margin-top: 1%;

}

#section2 {

    /*padding-bottom: 250px;

    padding-top: 200px;*/

}

#section1 button{

    display: none !important;

}

#section5 button.slick-next {

    right: 0 !important;

}

#wrapper{

        overflow: hidden;

}

.latest-news .slick-dots {

    bottom: 0px;

    left: 0;

    right: 0;

}

.project-developement p {

    padding: 0 15px;

}

#section4 > .clearfix{

	position: relative;

}

#section4 > .clearfix::after {

 background: rgba(0, 0, 0, 0) url("../images/mobile-world.png") no-repeat center center;

 bottom: 0;

 content: "";

 height: 100%;

 left: 0;

 margin: auto;

 position: absolute;

 right: 0;

 top: 0;

 width: 100%;

}

/*------slide_dots------*/

#section1 #banner-slider button{

	display:block !important;

}

#section1 #banner-slider .slick-dots li button::before{

	font-size:30px;

}

#section1 #banner-slider .slick-dots{

	bottom:248px;

}

#section1 #banner-slider .slick-dots li button {

  height: 25px;

  width: 25px;

}

#section1 #banner-slider .slick-dots li{

    margin: 0 5px;        

}



#section1 #banner-slider .slick-dots li button::before {

  color: #d0d0d0;

  font-size: 13px;

  height: 38px;

  line-height: 23px;

  opacity: 1;

  width: 23px;

  line-height: 27px;

}

/*#section1 #banner-slider .slick-dots li button::before {

    color: #d0d0d0;

    font-size: 35px;

    height: 25px;

    line-height: 23px;

    opacity: 1;

    width: 25px;

}*/

#section1 #banner-slider .slick-dots li.slick-active button::before {

  color: #eea033;

  opacity: 1;

}

#section1 #banner-slider .slick-dots li button {

    border: 1px solid #d0d0d0;

    border-radius: 100%;

}

#section1 #banner-slider .slick-dots li.slick-active button {

    border: 1px solid #eea033;

}



/*canvas {

    display: none;

}*/

.elite-property{

    display: block;

}

.elite-text {

  position: absolute;

  top: 233px;

  left: 0;

  right: 0;

  margin: 0 auto;

}

.semi_circle{

    display: none;

}

.commercial-tabs-block .beijing > h3 {

  /*font-size:26px;

  line-height:30px;

  font: 26px/30px "crimson_textroman";

  padding-bottom: 20px;*/

}

.pause_btn {

  left: auto;

  right: -101px;

  top: 50%;

}

.basic_infromation {

  padding: 23px 0 0;

}

.specification {

  width: 100%;

}

.specification h4 {

  font-size: 22px;

  line-height: 0;

  padding-top: 28px;

}

.download_btn > a {

	font-size:14px;

	line-height:32px;

	padding:0 15px;

}

.information {

  height: 1922px;

}

.download_btn > a{

	background:none;	

}

.basic_property{

	width:100%;	

}

.basic_things {

  padding-bottom: 39px;

  padding-top: 15px;

}

.information p {

  /*max-width: 95%;*/

}

.property_parent {

  display: table;

  padding: 0 0 0 15%;

  width: 100%;

}

.basic_property::before {

  left: -43px;

  top: 17px;

}

.basic_property {

  padding-bottom: 11px;

}

.property_parent .basic_property:nth-child(2n)::before {

  left: -43px !important;

}

.premium_projects {

  /*height: 1042px !important;*/

}

.quality_concept > h3 {

   /* padding-bottom: 28px;*/

    padding-top: 24px;

    text-align: center;

}

.quality_concept > h3 {

    /*font-size: 44px;*/

    line-height: 48px;

	padding-top: 36px;

}


.hong_property > figure {

  margin-top: 4px;

  padding-bottom: 8px;

}

.brand_items {

  height: 235px;

  width: 235px;

}

.brands{

	width:200px;

	height:200px;	

}

/*.slick-dots{

	display:none !important;	

}*/

.brands > h4 {

    font-size: 33px;

    line-height: 38px;

}

.slick-dotted.slick-slider{

	margin-bottom:0;	

}

.brand_slide {

    padding-bottom: 0;

}

.brand_content{



	width:100%;	

}

.hong_property h5{

	padding-bottom:0;

}

.hong_property li {

    font-size: 28px;

    line-height: 33px;

	  padding-left: 16px;

	   padding-bottom: 52px;

}

.brand_content{

	width:100%;	

}

.operating_content{

	width:100%;	

}

.operating_philosophy {

  padding: 59px 0 44px;

}

.operating_content > p{

	font-size:28px;

	line-height:32px;	

}

.group_structure{

	/*padding-bottom:0 !important;*/	

}

.spirit{

	float:left;

	width:100%;

}

.culture{

	width:100%;	

}

.spirit + .spirit{

	width:100%;

	padding-left:0;

	padding-right:0;

	text-align:left;	

}

.spirit > h5{

	font-size:30px;

}

.spirit > p{

	padding-left:0;	

}

.philoso_bg {

  height: 466px;

}

.brands {

    height: 232px;

    width: 232px;

}

.brand_items{

	height:300px;

	line-height:300px;	

}

.brand_items {

    height: 268px;

    width: 268px;

}

.brand_value{

	padding-bottom:5px;	

}

.structure > h3 {

    font-size: 41px;

}

.group_structure.philosophy .structure{

	padding:0;	

}

.operating_content > h5{

	font-size:36px;	

}

.operating_content > h5{

	  margin: 37px 0 6px;	

}

.operating_content > p{

	padding-bottom:6px;	

}

.operating_philosophy {

  padding: 59px 0 138px;

}

.container > h3 {

    /*font-size: 44px;*/

}

.value_in_shape {

  height: 211px;

  width: 211px;

}

.culture_spirit h3{

	padding-bottom:0;	

}

.hong_property li {

  padding-bottom: 37px;

}

.philoso_bg {

    height: 507px;

}

.brand_slide button.slick-prev.slick-arrow, .slick-prev:hover, .slick-prev:focus, .brand_slide button.slick-next.slick-arrow, .slick-next:hover, .slick-next:focus{

	background-size:30px;	

}

.operating_philosophy {

  padding: 59px 0 97px;

}

.spirit > h5 {

    font-size: 30px;

    margin-bottom: 0;

}

.spirit > p{

	font-size:28px;

	line-height:36px;	

}

.spirit > p {

  padding-bottom: 0;

}

.spirit > h5 {

    padding-bottom: 0;

}

.culture + .culture {

    padding-left: 0;

    padding-right: 0;

    width: 100%;

}

.culture > p{

	font-size:28px;

	line-height:32px;	

}

.culture > h5{

	font-size:30px;	

}

.culture_string .culture:nth-child(2) {

    margin-top: -25px;

}

.culture_string .culture:nth-child(2) > h5{

	padding-bottom:0;	

}

.culture_string .culture:nth-child(2) > h5 {

  margin-top: 5px;

  padding-bottom: 0;

}

.culture_spirit_parent .culture_spirit:nth-child(2) {

    /*margin-top: -53px;*/

}

.spirit .clipping.service, .spirit .clipping.team {

  float: none;

  height: 300px;

  margin: 50px auto 0;

  width: 300px;

}

.spirit + .spirit {

  margin-bottom: 14px;

  padding-left: 0;

  padding-right: 0;

  text-align: left;

  width: 100%;

}

.culture_spirit_parent .culture_spirit:nth-child(3){

	padding-bottom:0px;

}

.learn_more.p_phy {

    padding-top: 26px;

}

.learn_more.p_phy p {

  max-width: 100%;

}

.learn_more.p_phy {

    padding-top: 60px;

}

.premium_projects {

   /* height: 1445px !important;*/

}

.container > h3 {

    /*font-size: 28px;*/

    line-height: 32px;

}

.for_md{

	display:none;	

}

.for_xs{

	display:block;	

}

.we_are{

	width:100%;	

}

.company_overview {

  min-height: 1955px;

}

/*.company_overview {

  background:url(../images/one.jpg) no-repeat;

  min-height: 1642px;

  position: relative;

	background-size:100%;

	background-position:bottom;



}*/

.business_coverage {

    bottom: 0;

	width:100%;

}

.business_coverage > p {

    font-size: 18px;

    line-height: 22px;

    padding: 0 10px;

}



    

    

    

.benz_center_block::after{display:none;}

/*premium-project-start*/

.types_block{border-top:0px;}

.types_block.types_block_one{display:none;} 

.types_form_block{display:block;width:100%;}

.types_form_block form select{width:100%;}

.select_form::after {right:11px;z-index:1;} 

.types_block{display:none;}

.Beijing{display:block;}

.high-end.high_end_one a::after {top:75px;}

.benz_center_block{/*height:345px;*/}

/*.commercial-tab1.active, */
.commercial-tab-links li.active .active-img{padding-top:30px;}

.benz_center_block:before{display:none;}

/*premium-project-end*/

/*news-events-start*/

.safety_block{width:100%;}

.safety_block_one{width:100%;}

.text_block{width:100%;padding-top: 10px;}

.drill{display:none;}

.text_block h2{font-size:29px;}

.image_text_block{width:100%;}

.images_main{width:100%; margin:0 0 50px;}

.image_one{width:100%;float:none;margin-bottom:20px;}

.toggle-btn.toggle-btn-one{background:#000;}

span.toggle-btn.toggle-btn-one::after {background:#000;}

span.toggle-btn.toggle-btn-one::before {background:#000;}

.high-end.high_end_one a{font-size:13px;}

/*news-events-end*/

/*contact-page-start*/

.share_blcok{width:100%;/*height:830px;*/}

.form_block{width:100%;}

.form_block_left{width:100%;float:none;}

.form_block_right{width:100%;float:none;padding-top:20px;}

.information_block{width:100%;}

.information_block_main{width:100%;padding-bottom:0px;border-bottom:0px;}

.information_right img{width:100%;}

.information_right{width:100%;float:none;margin-top: -48px;display:none;}

.information_right.information_right_one{display:none;}

.information_left{display:none;}

.mobile_address{display:block;margin:0px;width:100%;}

.mobile_address ul.tabs{width:100%;}

.information_left ul li a{font-size:15px;}

.information_left h2 small{/*font-size:17px;*/}

.form_block h3{padding-bottom:10px;}

.feedback{display:block;/*font-size:15px !important;*/padding-bottom:0px !important;text-align:center;}

/*contact-page-end*/

/*premium v2 page-start*/

.header_patent.header_patent_two{height:972px;}

.bg_slide.bg_slide_one img{height:950px;}

.china-block.china-block-one{width:90%;}

.china-block .vertical_slider{margin-top:20px !important;}

.china_alignment{padding-top:0px !important;}

.china-block.china-block-one:first-child{margin-bottom:30px;}

.china-block.china-block-one{margin-left:15px;}

#section5 .clearfix, #section5 .china-block{height:320px;}

.china-block{padding-top:25px;}

.information_right.information_right_two{display:block;margin-top: -139px;}




/*premium v2 page-end*/    

    

.china-block .slick-next{z-index:1;}    

.china-block .slick-prev{top: -30px;}

.china-block h3{/*margin-bottom:45px;*/}

.slick-slider{z-index:1;}



.elite-text{z-index:1;}

}



/*@media (max-width:537px) {

	.container {

		width: 100%;

		padding: 0 10px;

	}

}*/

@media (min-width:640px) and (max-width:767px){

.container {

		/*width: 538px;*/

		margin:0 auto;

	}



.lsh-plaza-block {

    /*bottom: 72px;*/

}

h2 {

    font-size: 70px;

}

h2 span {

    font-size: 54px;

}

.commercial-tabs {

    width: 100%;

    z-index: 555;

	position:relative;

}

.commercial-tabs-block{

	 background-image:none;	

	 background:rgba(7, 120, 188, 0.7);

}

.commercial-tabs {

    height: auto;

/*    min-height: 620px;*/

    position: relative;

    /*top: 409px;*/

    width: 100%;

    z-index: 555;

}

.commercial-tab-links li {

    width: 32%;

}

.commercial-tab-links li:nth-child(even) {

    margin:0 1.5%;

}

.commercial-tab-links > ul {

    font-size: 0;

}

.commercial-tabs {

    padding-left:0;

}

h3 {

    font-size: 60px;

    line-height: 68px;

}

.projects li{

	font-size:28px;

	line-height:32px;

}

.projects ul li strong{

	font-size:40px;

	line-height:48px;

}

.high-end a{

	font-size:24px;	

}

.high-end a span, .plaza-img span{

	width:82px;

	height:82px;

	font-size:25px;	

	border: 5px dotted #e6b269;

}

.high-end a span img {

    margin: 25.5px auto;

    width: 28px;

}

.our-developement h3{

	font-size:44px;

	line-height:50px;

}

.our-developement > h3 br{

	display:none;

}

.our-developement > h3 br.one{

	display:block;

}

.project-developement p{

	font-size:28px;

	line-height:36px;

	max-width:500px;

	margin:0 auto;

}

#overseas {

    padding-left: 0;

	padding-top:0;

}

#china {

    padding-right: 0;

	padding-top:0;

}

#section4{

    position: relative;

}

#section4 .btn{

	display:inline-block;

}

.dots-list {

  bottom: 138px;

  margin-left: 20px;

}

.elite-property .dots-list li:nth-child(1){

  transform: rotate(-30deg) translate(0px, 0px) rotate(-30deg);

  	-webkit-transform: rotate(-30deg) translate(0px, 0px) rotate(-30deg);

	left: 201px;

}

.elite-property .dots-list li:nth-child(2){

	left:15px;

}

.elite-property .dots-list li:nth-child(3){

  transform: rotate(200deg) translate(0px, 0px) rotate(-200deg);

  	-webkit-transform: rotate(200deg) translate(0px, 0px) rotate(-200deg);

	   left: 239px;

}

.elite-property .dots-list li{

		bottom: 0;

		left: 50%;

		position: absolute;

		top: auto;

		z-index: 2;

}



/*----------------------------------------------------*/



#header {

    /*padding-top: 20px;*/

}

.white-logo {

    width: 220px;

}

.logo{

	/*padding-top:10px;*/

}



.toggle-block{

	margin-right:5px;

}



.projects {

    /*margin: 30px 0 35px;*/

}

.high-end span {

    margin-top: -6px;

}

.sec1.project-developement {

  padding-top: 50px;

}

.commercial-tabs {

  /*top: 244px;*/

}

  

.plaza-img.active > a {

    font-size: 24px;

}

.scroll-arrow {

    margin-top: -106px;

}

.lsh-plaza{

    width: 60%;        

}

.slide-images .slick-track figure {

    /*height: 1138px;*/

}

.our-developement{

    padding-bottom: 61px;    

}

.china_alignment{

    padding-top: 260px;    

}

#section4 > .clearfix{

	position: relative;

}



#section4 > .clearfix::after {

    background:url("../images/mobile-world.png") no-repeat scroll center center;

    bottom: 0;

    content: "";

    height: 100%;

    left: 0;

    margin: auto;

    position: absolute;

    right: 0;

    top: 0;

    width: 100%;

}

.commercial-tabs {

    /*top: 416px;*/

}

#horizontal-slider .slick-list div{

   /*height: 880px !important;*/    

}

.btn.mobile_btn{

    display: inline-block;

}

.mob_btn {

    position: absolute;

    left: 0;

    right: 0;

    margin: 0 auto;

    text-align: center;

   /*top: 473px;*/

}

.china-block {

    /*padding-bottom: 221px;*/

}

.china-block h3 {

    /*font-size: 39px;*/

    /*margin-bottom: 39px;*/

}

.elite-property {

    height: 560px;

    width: 560px;

}

    

.elite-text {

  position: absolute;

  top: 233px;

  left: 0;

  right: 0;

  margin: 0 auto;

}

#section1 #banner-slider .slick-dots {

    bottom: 405px;

}

.scroll-arrow {

    margin-top: -151px;

}

.welcome-to-lsh h2{

  font-size: 64px;

  line-height: 69px;

}

.welcome-to-lsh h2 span {

    font-size: 36px;

    line-height: 69px;

}

/*=================================

GROUP

=====================================*/

.bg_content h1 {

    font-size: 60px;

} 

.bg_content p{

	font-size:28px;

	/*line-height:32px;*/

}

.bg_slide_part figure, .bg_slide img, .header_patent{

	/*height:710px !important;*/

}

.logo a, .blue-logo, .white-logo {

    width: 358px !important;

}

.bg_slide_part figure, .bg_slide img, .header_patent {

    /*height: 519px !important;*/

}

.bg_content {

    left: 0;

    margin: 0 auto;

    position: absolute;

    right: 0;

    text-align: center;

    /*top: 30%;*/

}

.bg_content p {

    font-size: 28px;

    /*line-height: 35px;*/

    margin: 0 auto;

    max-width: 74%;

}

.bg_content p > br{

	display:none;	

}

.bg_content h1{

	/*padding-bottom:69px;*/

}

.lsh_group_content h3{

	font-size:44px;	

}

.lsh_group_content{

	 padding-top:34px;	

	 padding-left:0;

	 padding-right:0;

}

.lsh_content p{

	font-size:28px;

	line-height:36px;

}

.lsh_content {

  float: none;

  padding-right: 0;

  padding-top: 16px;

  width: 100%;

}

.group_structure{

	background:url(../images/mobile.jpg);

	background-size:cover;

	  padding-top: 66px;	

}

.structure > h3 {

    font-size: 44px;

}

.structure {

  display: table;

  padding: 0;

  width: 100%;

}

.group_structure .structure li.tab-link {

    width: 33.33%;

}

.str_img::after {

    border-radius: 50%;

      height: 144px;

       width: 144px;

	    border-width: 4px;

}

.str_img {

    border: 2px solid #e6b269;

    border-radius: 50%;

    display: table;

    height: 146px;

    margin: 0 auto;

    position: relative;

    transition: all 0.3s ease-in-out 0s;

    width: 146px;

}

.str_img img{

	 width:auto;	

}

.structure ul.tabs li:nth-child(4), .structure ul.tabs li:nth-child(5){

	width:50%;

}

.group_structure .structure li.tab-link {

  margin-bottom:42px;

}

.structure ul.tabs > li:nth-child(4) .str_img{

	/* float:right;*/

}

.tabs li:nth-child(4) .str_name {

  display: inline-block;



  padding-right: 15px;

}

.structure ul.tabs > li:nth-child(4) .str_string{

	padding-left:28%;	

}

.structure ul.tabs > li:nth-child(5) .str_img{

	/* float:left;*/

		

}

.structure ul.tabs > li:nth-child(5) .str_string{

	 padding-right: 27%;

}

span.str_name::after{

	display:none !important;	

}

span.str_name {

  display: block;

  font-size: 24px;

}

.structure .tab-content {

  padding-top:6px;

  width: 100%;

}

.structure .tab-content-pc {

  padding-top:6px;

  width: 100%;

}

.structure .tab-content > p{

	 font-size:28px;

	 line-height:36px;	

}

.structure .tab-content-pc > p{

	 font-size:28px;

	 line-height:36px;	

}

.group_structure{

	/*padding-bottom:77px;*/

}

.welcome-to-lsh .btn{

	 /*font-size:28px;

	     width: 488px;

		   line-height: 65px;*/

}

.learn_more h3{

	font-size:44px;

	line-height:48px;	

}

.learn_more{

	 padding-top:70px;

	 padding-bottom:44px;	

}

.learn_more p{

	font-size:28px;

	line-height:32px;

	max-width:90%;

}

.property {

    float: none;

    text-align: center;

    width: 100%;

}

.property {

    float: none;

    padding-bottom: 66px;

    text-align: center;

    width: 100%;

}

.property h4{

	font-size:44px;

	line-height:48px;

}

.property li{

	 font-size:28px;

	 padding-top:21px;

	 line-height:32px;

	 margin-left: 59px;

}

.property li > span{

	 font-size:40px;

	 line-height:44px;	

}

.property span {

    padding-top: 5px;

}

.premium_projects{

	background:url(../images/mobile1.jpg) no-repeat;

	background-size:cover;

	 height: 1427px;

}

.property li::after {

  bottom: 9px;

  height: 73px;

}

/*=========================================

	premium detail

===========================================*/

.commercial-tabs-block .beijing > h3{

	/*font-size:60px;

	line-height:64px;*/	

}

.commercial-tabs-block .beijing {

    left: -1px;

    top: 307px;

}

.commercial-tabs-block .beijing > h3 {

    /*font-size: 60px;

    line-height: 64px;

    max-width: 73%;

	   padding-bottom: 50px;*/

}

.ic {

    font-size: 28px;

}

.bg_slide_part figure, .bg_slide img, .header_patent {

  /*height: 1140px !important;*/

}

.pause_btn {

    left: auto;

    position: absolute;

    right: 106px;

    top: 34%;

}

.pause_btn > img {

    width: 77px;

}

.commercial-tabs-block .beijing li{

	/*font-size:28px;	

	line-height:32px;

	padding-bottom:15px;*/

}

.commercial-tabs-block .beijing li > span{

	/*font-size:40px;

	line-height:44px;*/	

}

.beijing sup {

    left: auto;

    position: absolute;

    /*right: -9px;*/

}



.commercial-tabs-block .beijing li::before {

    height: 67px;

    left: 43px;

    top: 2px;

}

.commercial-tabs-block .beijing li:nth-child(2)::after{

	  height: 67px;

	  right: -43px;

}

.commercial-tabs-block .overview > a{

	font-size:24px;	

}

.commercial-tabs-block .overview > a::after{

	background:url(../images/mobile2.png) no-repeat;

    height: 85px;

    right: -97px;

    top: -32px;

    transform: none;

    width: 85px;

	

}

.information p{

	font-size:28px;

	line-height:35px;	

	max-width:100%;

}

.specification{

	width:100%;	

}

.specification h4{

	font-size:44px;

	line-height:48px;	

}

.specification li > span, .specification li > p{

	font-size:24px;

	line-height:28px;
	
	color: #4F4F4F;

}

.basic_infromation {

  padding: 91px 0 0;

}

.specification {

  margin-left: 0 !important;

  /*padding-bottom: 54px;*/

  width: 100%;

}

.information {

background:url(../images/mobile3.jpg) no-repeat;

background-size:100%;

background-position:bottom;

  height: 2465px;

  padding-top: 57px;

}

.download_btn > a {

	font-size:24px;

	line-height:58px;

  letter-spacing: 1.3px;

  padding-right: 19px;

  text-align: right;

  width: 536px;

  padding-left:0;

}

.basic_property, .property_parent .basic_property:nth-child(2n){

	width:100%;	

}

.basic_things h5{

	font-size:30px;

	line-height:34px;	

}

.basic_things p, .looking_for > p{

	font-size:28px;

	line-height:32px;	

}

.looking_for > h3{

	font-size:44px;

	line-height:48px;	

}

.property_parent {

  display: table;

  padding: 0 0 0 19%;

  width: 100%;

}

.basic_property:nth-child(2)::before, .basic_property:nth-child(1)::before, .basic_property:nth-child(3)::before, .basic_property:nth-child(4)::before {

  background-size: 89px auto;

  left: -104px;

  top:10px;

}

.basic_things {

  padding-bottom: 39px;

  padding-top: 45px;

}

.basic_property:nth-child(2n) {

  padding-top: 49px;

}

.property_parent .basic_property:nth-child(2n)::before {

  left: -108px;

}

.looking_for{

	padding-top:17px;

	max-width:91%;	

}

.looking_for > h3 {

  color: #e6b269;

  padding-bottom: 53px;

}

.premium_projects {

  height: 1068px;

}

/*=================================



====================================*/

.commercial-tabs-block .beijing > h3 {

  color: #ffffff;

 /*font: 27px/40px "crimson_textroman";

  padding-bottom: 32px;*/

}

.ic {

  font-size: 28px;

  padding-left: 55px;

  padding-top: 9px;

}

.commercial-tabs-block .beijing > h3 {

  /*font-size: 60px;

  line-height: 70px;

  padding-bottom: 43px;*/

}

.commercial-tabs-block .beijing {

  left: 10px;

  top: 90px;

}

.bg_slide_part figure, .bg_slide img, .header_patent {

    /*height: 536px !important;*/

}

.quality_concept > h3{

	font-size:44px;	

}


.property_parent {

    display: table;

    padding: 0;

    width: 100%;

}

.hong_property {

  width: 100%;

}

.brand_items.mobile {

  /*display: none;*/

}

/*===================================

	overview

======================================*/

.bg_slide h1 {

  display: inline-block;

  font-size: 60px;

  /*line-height: 77px;*/

  /*margin: 0 auto;*/

  max-width: 89%;

}

.bg_content h1::after {

   /*bottom: 64px;*/



}

.bg_content p {

    font-size: 28px;

    /*line-height: 35px;*/

    margin: 0 auto;

    max-width: 75%;

}

.bg_content.mob h1{

 /*padding-bottom: 31px;*/

}

.bg_content.mob h1::after {

  /*bottom: 28px;*/

}

.who_we_are > h3 {

  font-size: 44px;

  padding-bottom: 35px;

  padding-top: 23px;

}

.bg_content.mob {

    top: 23%;

}

.we_are p, .business_coverage > p{

	font-size:28px;	

}

.we_are > p{

	font-size:28px;

	line-height:32px;	

}

.who_we_are{

	width:100%;

}

.we_are{

	width:100%;

}

.we_are + .we_are{

	width:100%;

}

.company_overview {

  background:url(../images/one.jpg) no-repeat;

  min-height: 1642px;

  position: relative;

	background-size:114%;

	background-position:bottom;

}

.business_coverage {

  bottom: 0;

}

.business_coverage > h3 {

  font-size: 44px;

}

.business_coverage {

  /*bottom: 282px;

  max-width: 89%;*/

}

.who_we_are > h3 {

  font-size: 44px;

  padding-bottom: 18px;

  padding-top: 23px;

}

.for_md {

    display: none;

}

.for_xs {

    display: table;

    width: 100%;

}

.for_xs p {

    padding-bottom: 64px;

}

.for_xs p:last-child{

	padding-bottom:0;	

}

.company_overview {

  min-height: 1707px;

}

.business_coverage {

 /* bottom: 63px;

  max-width: 89%;*/

}

.business_coverage > p{

	font-size:28px;

	line-height:38px;

}

.property_parent {

  display: table;

  float: right;

  padding: 0;

 /* width: 86%;*/

}

.property_parent .basic_property:nth-child(2n)::before {

  left: -100px !important;

}

.basic_property:nth-child(3):before{

	  left: -100px !important;

}

.bg_slide_part figure, .bg_slide img, .header_patent {

  /*height: 1138px !important;*/

}

.commercial-tabs-block .beijing{

	top:305px;

	left:0;

}

.bg_slide_part .slick-dots{

	display:block !important;	

}

.premium_projects {

  height: 1096px !important;

}

    

/*kalyan*/ 

.types_block.types_block_one{display:none;}

.information_right.information_right_two{margin-top:-172px;}

/*kalyan*/

 .header_patent.header_patent_one {

  height: 130px !important;

}



.header_patent.philosophy,.header_patent.philosophy .bg_slide figure, .header_patent.philosophy .bg_slide figure img{

	height:521px !important;	

}   



.header_patent.philosophy .bg_slide_part figure, .header_patent.philosophy .bg_slide img{

	height:512px;	

}

.philosophy .bg_content{

	/* top:28%;	*/

}

.philosophy .bg_content h1{

	padding-bottom:53px;	

}

.philosophy .bg_content h1::after {

    bottom: 31px;

}

.quality_concept > h3 {

  padding-top: 49px;

}

.phil .property_parent {

  width: 100%;

}

.philoso_bg {

    height: 241px;

}

.premium_projects {

    height: 1442px !important;

}



.tab_content{

	width:100%;

	height:275px;	

}

.tab_content + .tab_content{

	 width:100%;	

}

.tab_parent{

	background:none !important;	

}

.tab_parent .tab_content{

	background:url(../images/mob1.jpg) no-repeat;

	background-size:cover;	

}

.all .tab_parent:nth-child(2) .tab_content:first-child{

	background:url(../images/mob2.jpg) no-repeat;

}

.tab_parent .tab_content+.tab_content{

	background:none;

   height: 400px;		

}



.all .tab_parent:nth-child(3) .tab_content:first-child{

	background:url(../images/mob3.jpg) no-repeat;

}

.all .tab_parent:nth-child(4) .tab_content:first-child{

	background:url(../images/mob4.jpg) no-repeat;

}

.all .tab_parent:nth-child(5) .tab_content:first-child{

	background:url(../images/mob5.jpg) no-repeat;

}

.header_patent.events,.header_patent.events .bg_slide figure, .header_patent.events .bg_slide figure img{

	height:521px !important;	

}   



.header_patent.events .bg_slide_part figure, .header_patent.events .bg_slide img{

	height:512px;	

}

.events .bg_content h1::after {

    bottom: 43px;

}

.tab_dt.mobile{

	display:block;	

}

.tab_dt{

	display:none;

}

.awareness .tab_dt.mobile {

    width: 100%;

}

.tab_dt > p:nth-child(1)::before{

	display:none;	

}

.tab_dt.mobile p{

		font-size:24px;

		line-height:30px;

}

.tab_dt.mobile p span{

	color:#e6b269;	

}



.tab_dt.mobile p span {

    color: #e6b269;

    display: inline-block;

}

.awareness {

    float: left;

    width: 100%;

}

.vertical_content{

	 display:none;	

}

.tab_parent .tab_content + .tab_content{

	 padding:0;	

}

.awareness h5 {

     margin: 22px 0 20px;

}

.tab_section{

	padding-bottom:0;	

}

.tab_dt > p:nth-child(1){

	padding-top:0;	

}

.tab_dt > p:nth-child(1) {

    float: left;

    padding-bottom: 13px;

    padding-top: 0;

}

.awareness_parent .awareness p {

    font-size: 28px !important;

    line-height: 32px !important;

}

.china-block.china-block-one{

	width:350px;

	height:350px;

	margin:0 auto;	

}

.clearfix.two_circles{

	width:400px;

	margin:0 auto;	

}

.china_alignment {

    margin-top: -8px;

}

#section5 .clearfix, #section5 .china-block {

    height: 345px;

}

.china-block h3 {

    /*margin-bottom: 20px;*/

}



.bg_slide.bg_slide_one img, .header_patent.header_patent_two{

	height:1200px;	

}

.china-block .slick-prev{top: -30px;}

.china-block h3{/*margin-bottom:45px;*/}

.basic_things h5{margin-top:0px;font-size:25px;margin-bottom:15px;}

.basic_things p, .looking_for > p{font-size:20px;}

.commercial-tabs-block .beijing li:nth-child(3){width:100%;padding-left: 0px;padding-top: 30px;}

}











@media (max-width:639px){

	.container{

		width:100%;

		padding:0 15px;

	}

h2 {

    font-size: 45px;

    line-height: 50px;

}

h2 span {

    font-size: 24px;

    line-height: 30px;

}

.commercial-tabs-block{

	 background-image:none;	

	 background:rgba(7, 120, 188, 0.7);

}

.commercial-tab-links > ul {

    font-size: 0;

}

.commercial-tab-links li {

    width: 32%;

}

.commercial-tab-links li:nth-child(2n) {

    margin: 0 1.5%;

}

.commercial-tabs{

	/*width:90%;*/	

}

/*#section2, #section3, #section4, #section5,.section.sec1.project-developement.fp-section.fp-table{

	height:500px;

}*/

#overseas {

    padding-left: 0;

	padding-top:0;

}

#china {

    padding-right: 0;

	padding-top:0;

}

.china-block .vertical_slider {

    margin-top: 99px;

    max-width: 180px;

}

.our-developement > h3 br.one{

	display:block;

}

.elite-property .dots-list li:nth-child(1){

  transform: rotate(-30deg) translate(0px, 0px) rotate(-30deg);

  	-webkit-transform: rotate(-30deg) translate(0px, 0px) rotate(-30deg);

	left: 201px;

}

.elite-property .dots-list li:nth-child(2){

	left:15px;

}

.elite-property .dots-list li:nth-child(3){

  transform: rotate(200deg) translate(0px, 0px) rotate(-200deg);

  	-webkit-transform: rotate(200deg) translate(0px, 0px) rotate(-200deg);

	   left: 239px;

}

.elite-property .dots-list li{

		bottom: 0;

		left: 50%;

		position: absolute;

		top: auto;

		z-index: 2;

}

.elite-property {

    height: 230px;

    /*width: 230px;*/

}

h2 {

    font-size: 33px;

    line-height: 40px;

}

.dots-list {

    border-radius: 100%;

    bottom: 0;

    left: -129px;

    position: absolute;

    right: auto;

    top: 0;

}

    

/*#section1, #section2, #section3, #section4, #section5, .section.sec1.project-developement.fp-section.fp-table {

    height: 500px;

}  */  

#section2 {

    padding-bottom: 0;

    padding-top: 0;

}

.commercial-tabs {

    top: 52.5%;

}

.sec1.project-developement {

    height: auto;

    min-height: inherit;

    padding-bottom: 60px;

    padding-top: 50px;

}

.china-block .vertical_slider {

  margin-top: 48px;

}

.china_alignment{

    padding-top: 57px;    

} 

.latest-news-wrap {

   padding: 50px 0 230px;

}

#section5.section.sec1.latest-news-wrap.fp-auto-height{

        /*height: 1000px !important;    */

}

/*#section3.section.sec1.commercial-wrap{

       height: 580px !important;   

}*/

.commercial-tabs {

  top: 47.5%;

}

#section5{

        display: block !important;

}

.btn.mobile_btn {

    display: block;

}

.mob_btn {

    left: 0;

    margin: 0 auto;

    position: absolute;

    right: 0;

    text-align: center;

    /*top: 622px;*/

}

/*#section4 {

    height: 730px !important;

}*/

/*.slide-images figure, .commercial-images figure, #horizontal-slider .hor-slide-item {

    height: 580px;

}*/

.lsh-plaza {

    width: 82%;

}

.plaza-img span img {

    margin: 9px auto 0;



}

.scroll-arrow{

    display: none;

}

.blue-logo, .white-logo {

    top: 13px;

    width: 223px;

}

.elite-text{

        top: 48px;

}

h2 {

    font-size: 26px;

    line-height: 30px;

}

h2 span {

    font-size: 22px;

    line-height: 30px;

}

.elite-text {

    top: 90px;

}

.scroll-arrow{

    display: block;

    margin-top: -100px;

}

#section1 #banner-slider .slick-dots {

    bottom: 404px;

}

/*.lsh-plaza-block {

    bottom: 35px;

}*/

/*#section1 {

    height: 580px !important;

}*/



.our-developement > h3 br{

    display: none;

}

.our-developement > h3 br.one {

    display: block;

}

.project-developement h3 {

    margin-bottom: 25px;

    font-size: 23px;

    line-height: 28px;

}

span.str_name {

  /*padding-top: 30px;*/

}

/*====================================

	GROUP

======================================*/

.bg_content {

  padding:29% 10px 0;
}

.lsh_content {

  padding-right: 0;

  padding-top: 28px;

  width: 100%;

}

.lsh_content {

    padding-top: 15px;

    width: 100%;

}

.lsh_group_content {

    padding: 25px 10px 20px;

    width: 100%;

}

.group_structure{

	background:url(../images/mobile.jpg);

	background-size:cover;

	  padding-top: 35px;	

}

.tab-content {

    width: 100%;

}

.tab-content-pc {

    width: 100%;

}

.group_structure .structure li.tab-link{

	 width:33.33%;	

	 padding-bottom:20px;

}

.structure{

	padding:0;	

}

span.str_name::after{

	display:none !important;	

}





.structure ul.tabs > li:nth-child(4){

	width:50%;

	padding-left:14%;	

}

.structure ul.tabs > li:nth-child(5){

	width:50%;

	padding-right:14%;

		

}

.str_img::after {

    /*height: 90px;

    width: 91px;*/

}

.str_img {

   /* height: 93px;

    width: 93px;*/

}

span.str_name {

    /*font-size: 17px;

    line-height: 21px;*/

}

.structure .tab-content {

    padding-top: 15px;

}

.structure .tab-content-pc {

    padding-top: 15px;

}

.learn_more h3 br {

    display: none;

}

.learn_more p{

	max-width:auto;

	padding:0px;

}

.lsh_content p{

	padding-bottom:15px;	

}

.structure .tab-content > p {

    font-size: 18px;

}

.structure .tab-content-pc > p {

    font-size: 18px;

}

.lsh_content{

	padding-top:0;	

}

.lsh_group_content h3{

	padding-bottom:20px;	

}

.learn_more p{

	max-width:100%;	

	font-size:18px;

	line-height:22px;

}

.premium_projects{

	background:url(../images/mobile1.jpg) no-repeat;

	background-size:cover;

	 /*height: 1427px;*/

}

.property {

    float: left;

    padding-bottom: 55px;

    text-align: center;

    width: 100%;

}

.quality_concept > h3 {

 /* font-size: 28px;*/

  line-height: 33px;

  padding-top: 23px;

}

.quality_concept span {

	/*font-size:30px;*/

	line-height:34px;



}

/*.quality_concept span::before {

  left: -51px;

  width: 77px;

}

.quality_concept span::after{

	right:-51px;

	width:77px;	

}*/

.hong_property{

	width:100%;

	padding:0;

}

.property_parent {

  display: table;

  padding: 0 0 0 0;

  width: 100%;

}



.hong_property h5{

	/*font-size:26px;	*/

}

.brands {

  height: 180px;

  width: 180px;

}

.brand_items {

  height: 220px;

  width: 220px;

}

.group_structure.philosophy .str_string {

  margin-bottom: 20px;

  margin-left: 0;

  /*width: 100%;*/

}

.operating_content > h5 {

  font-size: 26px;

  line-height: 30px;

}

.operating_content > p {

    font-size: 22px;

    line-height: 32px;

}

.business_coverage{

	max-width:100%;

}

.company_overview{

	background-size:auto 550px;	

	   min-height: 1344px;

}

.business_coverage {

  /*bottom: 66px;*/

  width: 100%;

}

.business_coverage > p {

    font-size: 18px;

    line-height: 22px;

    padding: 0 10px;

}

.brand_items {

    height: 183px;

    width: 183px;

}

.brands {

    height: 151px;

    width: 151px;

}

.brands > h4 {

    font-size: 23px;

    line-height: 28px;

}

.brand_slide button.slick-prev.slick-arrow, .slick-prev:hover, .slick-prev:focus, .brand_slide button.slick-next.slick-arrow, .slick-next:hover, .slick-next:focus {

  background-size: 17px auto;

}

.quality_concept p{

	max-width:100%;

}

.property_parent {

  display: table;

  float: right;

  padding: 0;

  /*width: 83%;*/

}

/*.premium_projects {

  height: 1027px !important;

}*/

/*kalyan*/

.types_block{display:none;}

.information_right.information_right_two{margin-top:-151px;}

/*kalyan*/    

.phil .property_parent{

	float:none;

	width:100%;	 

}   

.hong_property li {

    font-size: 22px;

    line-height: 28px;

}

.philoso_bg {

  height: auto;

}

.brand_value .brand_slide button {

  /*top: 187px;*/

}

.value_in_shape {

    height: 175px;

    width: 175px;

}

.culture > p{

	font-size:23px;	

}

 /*.culture_spirit {

    height: 1678px;

 }*/

.culture_string .culture:first-child .cp_value {

   /* margin-top: 45px;*/

}

.culture_spirit_parent .culture_spirit:nth-child(2) {

    /*height: 1290px;*/

}

.culture_spirit_parent .culture_spirit:nth-child(3) {

 /* height: 1104px;*/

}

.culture_spirit {

    /*height: 1612px;*/

}

.spirit > p{

	font-size:22px;

	 line-height:26px;	 

}  

.premium_projects {

    /*height: 1446px !important;*/

}

.tab_content {

    width: 100%;

} 

.tab_content + .tab_content{

	 width:100%;	

} 

.all .tab_parent {

	background:none !important;	

}



.tab_parent .tab_content+.tab_content{

	background:none;

   /*height: 400px;	*/	

}

.tab_content{

	width:100%;

	height:275px;	

}

.tab_parent .tab_content{

	background:url(../images/mob1.jpg) no-repeat;

	background-size:cover;	

}

.all .tab_parent:nth-child(2) .tab_content:first-child{

	background:url(../images/mob2.jpg) no-repeat;

}

.tab_parent .tab_content+.tab_content{

	background:none;

  /* height: 400px;	*/	

}



.all .tab_parent:nth-child(3) .tab_content:first-child{

	background:url(../images/mob3.jpg) no-repeat;

}

.all .tab_parent:nth-child(4) .tab_content:first-child{

	background:url(../images/mob4.jpg) no-repeat;

}

.all .tab_parent:nth-child(5) .tab_content:first-child{

	background:url(../images/mob5.jpg) no-repeat;

}

.header_patent.events,.header_patent.events .bg_slide figure, .header_patent.events .bg_slide figure img{

	/*height:521px !important;*/	

}   



.header_patent.events .bg_slide_part figure, .header_patent.events .bg_slide img{

	/*height:512px;	*/

}

.events .bg_content h1::after {

   /* bottom: 43px;*/

}



.tab_parent .tab_content + .tab_content {

  padding-left: 0;

}

.awareness {

    float: left;

    width: 67%;

}

.tab_dt.mobile{

	display:block;	

}

.tab_dt{

	display:none;

}

.awareness .tab_dt.mobile {

    width: 100%;

}

.tab_dt > p:nth-child(1)::before{

	display:none;	

}

.tab_dt.mobile p{

		font-size:24px;

		line-height:30px;

}

.tab_dt.mobile p span{

	color:#e6b269;	

}



.tab_dt.mobile p span {

    color: #e6b269;

    display: inline-block;

}

.awareness {

    float: none;

    width: 100%;

}

.tab_dt > p:nth-child(1){

	padding-top:0;	

}

.tab_parent .tab_content + .tab_content {

  /*height: 450px;*/

}

.tab_dt.mobile p span {

    font-size: 22px;

}

.tab_dt.mobile p{

	display:none;	

}

.awareness h5{

	font-size: 22px;

    line-height: 30px;	

}

.bg_content h1 {

    font-size: 35px;

}

.tab_parent .tab_content + .tab_content {

    /*height: 386px;*/

}

.premium_projects {

  /*height: 1047px !important;*/

}

.china-block.china-block-one{

	width:300px;

	height:300px;	

}

#section5 .clearfix, #section5 .china-block {

    height: 320px;

}

.clearfix.two_circles{

	margin:0 auto;

	width:320px;	

}

.china-block h3 {

    font-size: 33px;

}

#section5 .clearfix, #section5 .china-block {

  height: 300px;

  margin: 0 auto !important;

  width: 300px;

  margin-bottom:20px !important;

}

.header_patent.pri_pro .bg_slide_part figure, .bg_slide img, .header_patent{

	/*height:451px !important;	*/

}

#group_main.pri_pro {

    padding-top: 22px;

}

.header_patent.header_patent_two, .two_v_circles .bg_slide.bg_slide_one img, .two_v_circles .bg_slide_part figure{

    height: 972px !important;

}

.header_patent.pri_pro .bg_slide_part figure, .bg_slide img, .header_patent {

    /*height: 550px !important;*/

}

.premium_projects.pre_mobile {

   /* height: 1500px !important;*/

}

#china{z-index:1;}

.china-block .slick-prev{z-index:1;top: -30px;}

.china-block{z-index:1;}

.slick-slider{z-index:1;}

.china-block h3{margin-bottom:45px;}

.basic_property img{margin-top:6px;width:20%;}

.basic_things h5{/*margin-bottom:10px;*/}

.commercial-tabs-block .beijing li:nth-child(3){width:100%;padding-left: 0px;padding-top: 30px;}

}



@media (max-width:537px) {

	.container {

		width: 100%;

		padding: 0 10px;

	}

	.china-block h3 {

	  	font-size: 23px;

	}

	.china-block .vertical_slider {

		max-width: 122px;

	}

	.china-block .slick-slide {

		float: none;

	}

	.china-block .vertical_slider > div a {

		text-align: center;

		font-size: 15px;

	}

	.latest-news .slick-prev, .latest-news .slick-next {

	  	height: 34px;

	  	width: 13px;

	  	background-size: 100%;

	}

	h5 {

	  font-size: 29px;

	  line-height: 35px;

	  margin: 21px 0 13px;

	}

	/*.news-content h5 span {

		font-size: 20px;

		line-height: 27px;

	}*/

	/*.news-content p {

	  font-size: 20px;

	  line-height: 26px;

	}*/

	h3 {

	  font-size: 30px;

	  line-height: 38px;

	}

	.welcome-to-lsh p {

		font-size: 17px;

    	line-height: 24px;

	}

#section4 > .clearfix{

	position: relative;

}

#section4 > .clearfix::after {

 background: rgba(0, 0, 0, 0) url("../images/mobile-world.png") no-repeat center center;

 bottom: 0;

 content: "";

 height: 100%;

 left: 0;

 margin: auto;

 position: absolute;

 right: 0;

 top: 0;

 width: 100%;

}

.commercial-tabs-block .beijing li:nth-child(3){width:100%;padding-left: 0px;

padding-top: 30px;}





  

}